<div class = "jumbotron">

  <h1>In Soviet Russia..</h1>
  <p><%= get_joke %></p>

  <a class = "btn btn-default" href="/">Another Joke!</a>
  <!-- <a class = "btn btn-info" href="/">Cool, Man.</a> -->
</div>