<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Practice</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/stylesheet.css" rel="stylesheet">

  <title></title>
</head>
<body>
  <div class = "navbar navbar-inverse navbar-static-top">
    <div class = "container">
      <div class="navbar-header"><a href="#" class="navbar-brand">Russian Reversals.</a>
      </div>
    </div>
  </div>

  <div class = "container">
    <%= yield %>
  </div>


  <div class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
      <p class = "navbar-text pull-left">Site Built By Wesley Gauntt</p>
      <a class = "navbar-btn btn-danger btn pull-right" href="mailto:wesleygauntt92@gmail.com">Complain to me</a>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
